*{
    padding: 0;
    margin: 0 auto;
}


.allView{
    margin: 0 auto;
}
.section1{
    height: 120vh;
    background-image: url(./resources/bg.jpg);
    background-repeat:no-repeat;
    background-size: cover;
    background-position: top center;
}
.header{
    width: 100%;
    padding-top: 60px;
}
.nav{
    width: 100%;
    display: flex;
    justify-content:space-around;
    
}
.siteLogo{
    display: inline-block;
    
}
.mainMenu{
    display: inline-block;
    line-height: 4.2;
}
.links{
    display: flex;
    
}
.link{
    display: inline-block;
    list-style: none;
    margin-right: 38px;
    font-size: 16px;
    font-weight: 600;
}

.link a{
    text-decoration: none;
    color: white;
}
.link a:hover{
    color: #d9294c;
}
.loginButton{
    display: inline-block;
    width: 180px;
    height: 60px;
    background-color: #d9294c;
    text-align: center;
    align-content: center;
    
    
}
a .loginButton{
    text-decoration: none;
    color: white;
    font-weight: 600;
    font-size: 16px;
}
.section1 .title .mainTitle{
    color: white;
    text-align: center;
    font-size: 55px;
    line-height: 1.2;
    font-weight: 500;
    margin-top: 120px;
    margin-bottom: 20px;
}
.section1 .title .description{
    color: white;
    font-size: 14.1px;
    text-align: center;
    line-height: 2.2;
    font-weight: 500;
    margin-top: 0;
}
.section1Form{
    width: 100%;
    text-align: center;
    margin-top: 105px;
}
.section1Form input{
    height: 53px;
    width: 19.4%;
    padding: 0 30px;
    margin-right: 22px;
    font-size: 14px;
}
.section1Form .frmButton{
    display: inline-block;
    text-align: center;
    padding: 18px 40px;
    font-size: 16px;
    color: white;
    background: #d9294c;
    cursor: pointer;
    border: none;
}

.section2{
    width: 93vw;
    height: 120vh;
    padding-top: 115px;
    padding-bottom: 115px;
}
.section2 .title{
    text-align: center;
    padding: 0 110px;
    margin-bottom: 110px;
}
.section2 .title h2,.section4 .title h2,.section6 .container .title h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
    color: #474747;
}
.section2 .title p,.section4 .title p,.section6 .container .title p{
    margin-bottom: 0;
    font-weight: 500;
    color: #878787;
    font-size: 14.1px;
    line-height: 2.2;
}
.section2 .cards{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}
.cards .card{
    display: inline-block;
    width: 26%;
    margin-bottom: 34px;
    background: #edf4f6;
    transition: all 0.4s;
    margin-right:15px;
    margin-left: 15px;
    
}
.cards .card:hover{
    background: #d82a4e;
    
}
.cards .card:hover .text h5,.cards .card:hover .text p,.cards .card:hover .text span{
    color: white;
}
.card .image{
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top center;
    height: 148px;
}

.card .text{
    width: 100%;
    padding: 40px 35px;
}
.card .text h5{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
}
.card .text p{
    font-size: 14.1px;
    color: #878787;
    line-height: 2.2;
    font-weight: 500;
}
.card .text span{
    font-size: 18px;
    font-weight: 600;
    color: #d82a4e;
}

.section3{
    width: 90vw;
    height: 50vh;
}
.container{
    width: 85%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

.search-warp{
    background: #d82a4e;
    padding-top: 60px;
    padding-bottom: 50px;
}
.search-warp .title{
    margin-bottom: 30px;
    text-align: center;
    padding: 0 110px;
    color: white;
}
.search-warp .title h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.search-bar{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
    justify-content: center
}
.search-form{
    width: 75%;
    display: flex;
    background: #fff;
    padding: 44px 38px;
}
.search-form input{
    width: 34.6%;
    height: 56px;
    padding: 0 30px;
    margin-right: 18px;
    float: left;
    border: none;
    font-size: 14px;
    background: #edf4f6;
}
input:focus,.section5 .content form input:focus{
    border-bottom: 2px solid #d82a4e;
    outline: none;
}
.search-form .search-btn,.content form .searchBtn,.register .registerBtn,.widget-item form button{
    min-width: 173px;
    padding: 16px 10px;
    display: inline-block;
    text-align: center;
    border: none;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
    background: #d82a4e;
}
.section4{
    width: 90vw;
    height: 250vh;
    padding-top: 115px;
    padding-bottom: 115px;
} 

.courses{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
}

.course{
    display: inline-block;
    width: 26%;
    margin-bottom: 34px;
    background: #edf4f6;
    transition: all 0.4s;
    margin-right:35px;
    margin-left:35px;
}
.section4 .title,.section6 .container .title{
    text-align: center;
    padding: 0 110px;
}
.course-warp{
    max-width: 1559px;
    padding: 0 15px;
    margin: 0 auto -30px;
}
.course-warp .filter-list{
    list-style: none;
    text-align: center;
    padding-top: 50px;
    margin-bottom: 60px;
}
.course-warp .filter-list li{
    display: inline-block;
    font-size: 18px;
    font-weight: 600;
    color: #474747;
    padding: 12px 10px 5px;
    margin: 0 10px;
    border-bottom: 4px solid transparent;
    cursor: pointer;
    transition: all 0.3s;
}
.course-warp .courses{
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}
.course-warp .courses .course{
    display: inline-block;
    width: 349.8px;
    margin-bottom: 30px;
}

.set-bg{
    background-repeat: no-repeat;
    background-size: cover;
    background-position: top center;
}
.course .course-thumb{
    height: 270px;
}
.courses .course .set-bg .price{
    font-size: 14px;
    color: #fff;
    font-weight: 600;
    background: #d82a4e;
    display: inline-block;
    padding: 13px 19px;
    margin: 14px;
}
.course .course-info{
    background: #edf4f6;
}
.course .course-info .text{
    padding: 45px 15px 25px;
}
.course .course-info .text h5{
    margin-bottom: 5px;
    font-size: 20px;
    font-weight: 600;
    color: #474747;
    line-height: 1.2;
}
.course .course-info .text p{
    font-size: 14.1px;
    color: #878787;
    line-height: 2.2;
    font-weight: 500;
    margin-top: 0;
    margin-bottom: 1rem;
}
.course .course-info .text .students{
    font-size: 18px;
    font-weight: 600;
    color: #d82a4e;
}
.course-info .author{
    padding: 14px 15px;
    border-top: 1px solid #d4dee1;
    overflow: hidden;
}
.author .a-pic{
    width: 44px;
    height: 44px;
    border-radius: 50%;
    float: left;
}
.author p{
    padding-left: 60px;
    margin-bottom: 0;
    padding-top: 7px;
    font-weight: 600;
    font-size: 14.1px;
    color: #878787;
    line-height: 2.2;
    margin-top: 0;
}
.author p span{
    color: #d82a4e;
}
.section5{
    height: 120vh;
    background: #d82a4e;
    position: relative;
    padding-top: 115px;
    padding-bottom: 115px;
}
.section5 .bg{
    position: absolute;
    width: 50%;
    height: 100%;
    right: 0;
    top: 0;
    z-index: 1;
    background-image: url(./resources/signup-bg.jpg);
    background-size: cover;
    background-position: top center;
}
.section5 .content{
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 50%;
    justify-content: center;
    padding-left: 95px;
    padding-right: 95px;
    box-sizing: border-box;
}
.section5 .content .title{
    padding: 0;
    margin-bottom: 55px;
    color: white;
    text-align: left;
    
}
.section5 .content .title h2{
    font-size: 48px;
    font-weight: 600;
    margin-bottom: 25px;
}
.section5 .content .title p{
    font-weight: 500;
    font-size: 14.1px;
    line-height: 2.2;
}
.section5 .content form{
    background: #fff;
    padding: 60px;
    box-sizing: border-box;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #212529;
    text-align: left;
    margin: 0 ;
}
.section5 .content form input{
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    font-weight: 500;
    background: #edf4f6;
    box-sizing: border-box;
}
.content form .uploadBtn{
    background: #3e3e3e;
    min-width: 173px;
    padding: 16px 10px;
    text-align: center;
    border: none;
    font-size: 16px;
    position: relative;
    color: #fff;
    cursor: pointer;
}
.section6{
    padding-top: 115px;
    padding-bottom: 115px;
    box-sizing: border-box;
}
.section6 .container{
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
.section6 .container .register{
    text-align: center;
    padding-top: 3rem;
    box-sizing: border-box;
}

footer{
    border-top: 3px solid #d82a4e;
    padding-top: 115px;
    box-sizing: border-box;
}
.footerTop{
    box-sizing: border-box;
    padding: 0 15px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}
.widget-item{
    width: 20%;
    padding: 0 15px;
    box-sizing: border-box;
}
.widget-item h4{
    margin-bottom: 30px;
    font-size: 24px;
    font-weight: 600;
    color: #474747;
    box-sizing: border-box;
}
.widget-item ul{
    list-style: none;
    padding-top: 30px;
    box-sizing: border-box;
}
.widget-item .contact-list li{
    margin-bottom: 27px;
    position: relative;
    padding-left: 10px;
    box-sizing: border-box;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    line-height: 1.5;
}
.widget-item ul li{
    margin-bottom: 10px;
    font-size: 14px;
    font-weight: 500;
    color: #878787;
    box-sizing: border-box;
    line-height: 1.5;
}
.widget-item ul li a{
    color: #878787;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
    
}
.widget-item .contact-list li::after{
    position: absolute;
    content: "";
    width: 8px;
    height: 8px;
    left: -5px;
    top: 6px;
    border-radius: 50%;
    background: #d82a4e;
    box-sizing: border-box;
    
}
.footer-form{
    padding-right: 38px;
    box-sizing: border-box;

}
.footer-form input{
    height: 57px;
    width: 100%;
    padding: 0 30px;
    margin-bottom: 27px;
    float: left;
    border: none;
    font-size: 14px;
    background: #edf4f6;
    box-sizing: border-box;
    
}
.footer-form p{
    margin-bottom: 0;
    margin-top: 20px;
    font-weight: 500;
    font-style: italic;
    font-size: 14.1px;
    color: #878787;
    line-height: 2.2;
    box-sizing: border-box;
}
.footerBottom{
    overflow: hidden;
    background: #edf4f6;
    padding: 20px 0;
    margin-top: 50px;
    box-sizing: border-box;
}
.footer-warp{
    max-width: 1559px;
    padding: 0 15px;
    margin: 0 auto;
    box-sizing: border-box;
}
.footerMenu{
    list-style: none;
    float: right;
    padding: 0;
    margin: 0;
    box-sizing: border-box;

}
.footerMenu li{
    display: inline;
    box-sizing: border-box;
}
.footerMenu li a{
    display: inline-block;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
    padding-right: 10px;
    margin-right: 10px;
    position: relative;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}
.footerMenu li a::after{
    position: absolute;
    content: "|";
    right: 0;
    top: 0;
    box-sizing: border-box;
}
.footerMenu li:last-child a{
    padding-right: 0;
    margin-right: 0;
    box-sizing: border-box;
}
.footerMenu li:last-child a::after{
    display: none;
}
.copyright{
    padding-top: 3px;
    float: left;
    font-size: 14px;
    font-weight: 600;
    color: #474747;
    box-sizing: border-box;
}
.copyright a{
    color: #007bff;
    text-decoration: none;
    background-color: transparent;
    box-sizing: border-box;
}
.copyright a:hover{
    color: #d82a4e;
}
.copyright a:focus{
    text-decoration: none;
    outline: none;
}